/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/build
/dist
/.next/
/out/
.tsbuildinfo
.env*
!.env.example
/coverage
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.next-stats.json